// TODO: Media Queries 
// *Tablet 
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// *Desktop 
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// *Buttons
@mixin default-button {
  color: $light-color;
  font-size: $body-size;
  line-height: $line-height;
  border-radius: $border-radius-btn;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: $box-shadow-btn
}

@mixin primary-button {
  @include default-button;
  background-color: $primary-color;
}
