// *Breakpoints 
$tablet-width: 768px;
$desktop-width: 1024px;
// *Fonts 
$primary-font-family:  'Raleway', sans-serif;
$secondary-font-family: 'Mochiy Pop P One', sans-serif;
// *Colors 
$primary-color: #F6914E;
$secondary-color: #2C5E2D;
$tertiary-color: #f1d4c0;
$heading-color: #443636;
$body-color: #bb9984;
$body-bg-color: #faf2ed;
$card-bg-color: #eee6e6;
// *Typography
$body-size: 16px;
$body-size-lg: 20px;
$body-size-sm: 14px;
$menu-icon-size: 30px;
$border: 1px solid $primary-color;